:root {
    --gridCols: 1;
    --gridRows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridCols), 1fr);
    width: 960px;
    height: 960px;
  }
  
  .gridItem {
    width: 100%;
    height: 0;
    padding-top: 100%;
    border: 1px solid #ddd;
    text-align: center;
  }

  .hoverOn {
    background-color: red;
  }